$bg-red: hsl(0, 100%, 74%);
$fntGrey: hsl(249, 10%, 26%);
$blue: hsl(248, 32%, 49%);
$light-green: hsl(154, 59%, 51%);
$dark-red: #d39392;
$bx-shadow-blk: #1b1b1b3b;
$bx-shadow-green: #3db984;
$light-grey: #b3b3b3;
$main-font: "Poppins";

body {
    background-image: url("../images/bg-intro-desktop.png");
    background-color: $bg-red;
    font-family: $main-font;
    color: #fff;
    font-size: 1rem;
}

h1 {
    font-weight: 700;
}

form {
    color: $fntGrey;
    box-shadow: 0px 7px $bx-shadow-blk;
    border-radius: 11px;
    caret-color: $blue;

    input {
        padding: 16px !important;
    }
    input::placeholder {
        font-weight: 600 !important;
    }
    .form-control:focus {
        border-color: $blue !important;
        box-shadow: 0 0 1px $blue !important;
    }

    input.error,
    .form-control:focus.error {
        border: 2px solid $dark-red !important;
        background-image: url(../images/icon-error.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 17px);
        background-size: 5%;
    }

    label.error {
        color: $dark-red;
        float: right;
        font-size: 10px;
        font-style: italic;
        margin: 2px 0px 10px 0px;
    }
}
.emailError::placeholder {
    color: $dark-red !important;
    font-size: 0.8125rem;
    margin-left: 10px;
}

.containerOuter {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.callTo {
    margin: 190px 52px;
}

.callTo h1 {
    word-spacing: 0.195rem;
}

.trialNotice {
    background-color: $blue;
    text-align: center;
    box-shadow: 0px 7px $bx-shadow-blk;
    border-radius: 11px;
    p {
        font-weight: 400;
        padding: 11px 46px;
    }
    p span {
        font-weight: 700;
    }
}

.btn-green {
    background-color: $light-green;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 4px $bx-shadow-green;
    font-weight: 500;
    padding: 14px;
}
.btn:hover, .btn:focus, .btn:active {
    color: #fff !important;
    cursor: pointer;
    background-color: #64e0aa;
    box-shadow: 0px 4px #58bb91;
}

.terms {
    font-size: 0.625rem;
    font-weight: 500;
    color: $light-grey;
    padding: 0px 20px;
    a {
        color: $bg-red;
        text-decoration: none;
        font-weight: 700;
    }
}

footer {
    text-align: center;
    .attribution {
        padding: 20px;
        a {
            color: #0e025a !important;
            text-decoration: none;
        }
        a:hover {
            color: $blue !important;
        }
    }
}

@media (max-width: 526px) {
    .terms {
        padding: 0px 13px;
        font-size: 0.75rem;
    }
    .container .row {
        flex-direction: column;
    }

    .callTo {
        margin: 56px 14px;

        p {
            text-align: center;
        }

        h1 {
            margin-top: 90px;
            margin-bottom: 30px;
            margin-left: 30px;
        }
    }
    .attribution {
        padding: 16px;
    }
    body {
        background-image: url("../images/bg-intro-mobile.png");
    }
}

@media (max-width: 768px) {
    .callTo {
        margin: 56px 14px;
    }
}
