$bg-red: hsl(0, 100%, 74%);
$fntGrey: hsl(249, 10%, 26%);
$blue: hsl(248, 32%, 49%);
$light-green: hsl(154, 59%, 51%);
$bx-shadow-blk: #1b1b1b3b;
$bx-shadow-green: #3db984;
$light-grey: #b3b3b3;
$main-font: "Poppins";

body {
    background-image: url("../images/bg-intro-desktop.png");
    background-color: $bg-red;
    font-family: $main-font;
    color: #fff;
    font-size: 1rem;
}

h1 {
    font-weight: 700;
}

form {
    color: $fntGrey;
    box-shadow: 0px 7px $bx-shadow-blk;
    border-radius: 11px;

    input {
        padding: 16px !important;
    }
    input::placeholder {
        font-weight: 600 !important;
    }
    .form-control:focus {
        border-color: $blue !important;
        box-shadow: 0 0 1px $blue !important;
    }

    caret-color: $blue;
}

.containerOuter {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.callTo {
    margin: 134px 52px;
}

.callTo h1 {
    word-spacing: 0.195rem;
}

.trialNotice {
    background-color: $blue;
    text-align: center;
    box-shadow: 0px 7px $bx-shadow-blk;
    border-radius: 11px;
    p {
        font-weight: 400;
        padding: 11px 46px;
    }
    p span {
        font-weight: 700;
    }
}

.btn-green {
    background-color: $light-green;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 4px $bx-shadow-green;
    font-weight: 500;
    padding: 14px;
}

.terms {
    font-size: 0.875rem;
    font-weight: 500;
    color: $light-grey;
    a {
        color: $bg-red;
        text-decoration: none;
        font-weight: 700;
    }
}

footer {
    text-align: center;
    .attribution {
        padding: 20px;
        a {
            color: $blue !important;
            text-decoration: none;
        }
    }
}

@media (max-width: 526px) {
    .container .row {
        flex-direction: column;
    }

    .callTo {
        margin: 56px 14px;

        p {
            text-align: center;
        }

        h1 {
            margin-top: 90px;
            margin-bottom: 30px;
            margin-left: 30px;
        }
    }
    .attribution {
        padding: 16px;
    }
}

@media (max-width: 768px) {
    .callTo {
        margin: 56px 14px;
    }
}
